#index  {
	/*width: 100%;*/
    height: auto;
    overflow: hidden;
    padding-top: 506px;
}

#index .bottom {
	padding-top:25px;
}

#index .description {
	background-image: url(../img/elements/back_description.png);
	background-repeat: no-repeat;
	margin-top: 30px;
	float: left;
	padding:10px 10px 10px;
}

#index .description .logo {
	background: url("../img/CSS_sprite.png") no-repeat scroll -325px -50px transparent;
	display: block;
	float: left;
	height: 46px;
	margin-right: 20px;
	margin-top: -15px;
	width: 182px;
}

#index .description .text {
	float: left;
	clear: left;
	margin: 10px;
}

#index .description .btn_mas {
	background-image: url(../img/elements/btn_mas.png);
	background-repeat: no-repeat;
	background-position: center -5px;
	height: 32px;
	width: 121px;
	display: block;
	float: right;
	margin-top: 50px;
}

#index .description .btn_mas:hover {
	background-position: center -40px;
}

#index .description  h1{
	padding-top:10px;
	color:#b43a5e;
	text-align:left;
	font-size: 26px;
	font-family: 'ScalaSansBold';
	
}

#index .description .three h1{
	font-family: 'ScalaSansRegular';
	font-size: 24px;
	margin-bottom: 4px;
}

#index .description  h2{
	font-family: 'ScalaSansRegular';
	text-align:left;
	color: #555555;
	font-size: 20px;
}

#index .products {
	padding-bottom: 40px;
	float: left;
}

#index .products .title {
	width: 610px;
	position: relative;
	float: left;
	padding-left: 37%;
	margin-bottom: 20px;
}

#index .products .title h3 {
	text-align: center;
	float: left;
}

#index .column {
	width: 294px;
	float: left;
}

#index .list-products {
	display: none;
}
 
#index #te, #index .nectar {
	margin-right: 42px;
	float: left;
}

#index .products #te .img_hover {
	background-position: -303px top;
	height: 245px;
}

#index #te .img {
	background-image: url(../img/elements/te_lineas.png);
	background-repeat: no-repeat;
	background-position: top left;
	height: 180px;
	width: 293px;
	display: block;
}

#index .products  #nectar .img_hover {
	background-position: -300px top;
	height: 245px;
}

#index #nectar .img {
	background-image: url(../img/elements/nectar_lineas.png);
	background-repeat: no-repeat;
	background-position: top left;
	height: 180px;
	width: 293px;
	display: block;
}

#index .products  #rx .img_hover {
	background-position: top right;
	height: 245px;
}

#index #rx .img {
	background-image: url(../img/elements/rx_lineas.png);
	background-repeat: no-repeat;
	background-position: top left;
	height: 180px;
	width: 300px;
	display: block;
}


#index a.btn_show, #index .te a:hover h3, #index .nectar a:hover h3, #index .rx a:hover h3{
	text-decoration: none;
}

#index .column .subtitle h3 {
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 10px;
}

#index .te .subtitle h3 {
	color: #02322d;
	text-decoration: none;
}

#index .nectar .subtitle h3 {
	color: #67510b;
	text-decoration: none;
}

#index .rx .subtitle h3 {
	color: #355a0a;
	text-decoration: none;
}

/*Banner index
---------------------------------------*/

.wrapper-b {
	width: 970px;
	margin: auto;
}

.home-carousel-full {
    height: 506px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
	border-bottom: 1px #dfdfdf solid;
	z-index: 2;
}

.slideshow {
	width: 20000px;
	height: 100%;
}

ul.slideshow li {
    /*background-color: #4CC8E4;
    position: absolute;*/
    width: 100%;
    z-index: 1;
    position: relative;
}

ul.slideshow li.show {
	z-index:500;	
}

ul.slideshow li.slide {
	border: 1px solid red;
	float: left;
	position: absolute;
}

ul.slideshow ul {
	background-position: center;
    display: block;
    height: 506px;
    width: 100%;
    margin: auto;
}

ul.slideshow li li {
    height: 100%;
    text-align: center;
    width: 970px;
    margin: auto;
    background: none no-repeat scroll center top transparent;*/
    position: relative;
    z-index: 100;
}


/* te negro elementos */

ul.slideshow  .tenegro_back {
	background-image: url(../img/elements/bannertenegro_1.jpg);
	background-repeat: no-repeat;
	background-color: #ebf8f5;
}

ul.slideshow .tenegro_texto {
	background-image: url(../img/elements/bannertenegro_2.png);
	background-repeat: no-repeat;
	display: block;
	height: 162px;
    width: 444px;
    position: absolute;
    top:120px;
    opacity: 0;
    left: 0px;
}

ul.slideshow .tenegro_flotan {
	background-image: url(../img/elements/bannertenegro_3.png);
	background-repeat: no-repeat;
	display: block;
	height: 460px;
    width: 750px;
    position: absolute;
    top:-70px;
    left: -40px;
    opacity: 0;
}

ul.slideshow .tenegro_lata1 {
	background-image: url(../img/elements/bannertenegro_4.png);
	background-repeat: no-repeat;
	display: block;
	height: 352px;
    width: 223px;
    position: absolute;
	right: 310px;
    top: 90px;
    opacity: 0;
}

ul.slideshow .tenegro_lata2 {
	background-image: url(../img/elements/bannertenegro_5.png);
	background-repeat: no-repeat;
	display: block;
	height: 456px;
    width: 200px;
    position: absolute;
	right: 160px;
    top: 60px;
    opacity: 0;
}

ul.slideshow .tenegro_lata3 {
	background-image: url(../img/elements/bannertenegro_6.png);
	background-repeat: no-repeat;
	display: block;
	height: 358px;
    width: 188px;
    position: absolute;
	right: -60px;
    top: 98px;
    opacity: 0;
}

ul.slideshow .tenegro_lata4 {
	background-image: url(../img/elements/bannertenegro_8.png);
	background-repeat: no-repeat;
	display: block;
	height: 358px;
    width: 188px;
    position: absolute;
	right:40px;
    top: 90px;
    opacity: 0;
}

ul.slideshow .tenegro_limon {
	background-image: url(../img/elements/bannertenegro_7.png);
	background-repeat: no-repeat;
	display: block;
	height: 92px;
    width: 144px;
    bottom: 50px;
    right: 290px;
    opacity: 0;
    position: absolute;
}

/* te verde elementos */

ul.slideshow .teverde_back {
	background-image: url(../img/elements/bannerteverde_1.jpg);
	background-repeat: no-repeat;
	background-color: #e3f2e9;
}

ul.slideshow .teverde_texto {
	background-image: url(../img/elements/bannerteverde_2.png);
	background-repeat: no-repeat;
	display: block;
	height: 200px;
    width: 444px;
    position: absolute;
    top:70px;
    opacity: 0;
    left: 0px;
}

ul.slideshow .teverde_flotan {
	background-image: url(../img/elements/bannerteverde_3.png);
	background-repeat: no-repeat;
	display: block;
	height: 460px;
    width: 750px;
    position: absolute;
    top:20px;
    left: -100px;
    opacity: 0;
}

ul.slideshow .teverde_botella1 {
	background-image: url(../img/elements/bannerteverde_4.png);
	background-repeat: no-repeat;
	display: block;
	height: 309px;
    width: 180px;
    position: absolute;
	right: 420px;
    top: 120px;
    opacity: 0;
}

ul.slideshow .teverde_botella2 {
	background-image: url(../img/elements/bannerteverde_5.png);
	background-repeat: no-repeat;
	display: block;
	height: 344px;
    width: 123px;
    position: absolute;
	right: 330px;
    top: 115px;
    opacity: 0;
}

ul.slideshow .teverde_botella3 {
	background-image: url(../img/elements/bannerteverde_6.png);
	background-repeat: no-repeat;
	display: block;
	height: 344px;
    width: 150px;
    position: absolute;
	right: 250px;
    top: 98px;
    opacity: 0;
}

ul.slideshow .teverde_botella4 {
	background-image: url(../img/elements/bannerteverde_7.png);
	background-repeat: no-repeat;
	display: block;
	height: 332px;
    width: 132px;
    position: absolute;
	right: 40px;
    top: 130px;
    opacity: 0;
}

ul.slideshow .teverde_botella5 {
	background-image: url(../img/elements/bannerteverde_8.png);
	background-repeat: no-repeat;
	display: block;
	height: 332px;
    width: 132px;
    position: absolute;
 	right: -30px;
    top: 124px;
    opacity: 0;
}

ul.slideshow .teverde_subtitulos{
	background-image: url(../img/elements/bannerteverde_9.png);
	background-repeat: no-repeat;
	display: block;
	height: 222px;
    width: 160px;
    position: absolute;
	right: 132px;
    top: 60px;
    opacity: 0;
}


/* nectar elementos */

ul.slideshow .nectar_back {
	background-image: url(../img/elements/bannernectar_1.jpg);
	background-repeat: no-repeat;
	background-color: #f2eed0;
}


ul.slideshow .nectar_circulos {
	background-image: url(../img/elements/bannernectar_8.png);
	background-repeat: no-repeat;
	display: block;
	width: 1000px;
    height:0px;
    position: absolute;
    top:0px;
    opacity: 0;
}


ul.slideshow .nectar_texto {
	background-image: url(../img/elements/bannernectar_2.png);
	background-repeat: no-repeat;
	display: block;
	height: 200px;
    width: 430px;
    position: absolute;
    top:70px;
    opacity: 0;
    left: 0px;
}

ul.slideshow .nectar_lata1 {
	background-image: url(../img/elements/bannernectar_3.png);
	background-repeat: no-repeat;
	display: block;
	height: 353px;
    width: 159px;
    position: absolute;
	right: 415px;
    top: 98px;
    opacity: 0;
}

ul.slideshow .nectar_lata2 {
	background-image: url(../img/elements/bannernectar_4.png);
	background-repeat: no-repeat;
	display: block;
	height: 407px;
    width: 200px;
    position: absolute;
    top:80px;
    right: 280px;
    opacity: 0;
}

ul.slideshow .nectar_lata3 {
	background-image: url(../img/elements/bannernectar_5.png);
	background-repeat: no-repeat;
	display: block;
	height: 350px;
    width: 142px;
    position: absolute;
    top:100px;
    right: 195px;
    opacity: 0;
}

ul.slideshow .nectar_lata4 {
	background-image: url(../img/elements/bannernectar_6.png);
	background-repeat: no-repeat;
	display: block;
	height: 354px;
    width: 135px;
    position: absolute;
    top:90px;
    right: 90px;
    opacity: 0;
}

ul.slideshow .nectar_lata5 {
	background-image: url(../img/elements/bannernectar_10.png);
	background-repeat: no-repeat;
	display: block;
	height: 330px;
    width: 170px;
    position: absolute;
    top:100px;
    right: -65px;
    opacity: 0;
}

ul.slideshow .nectar_mango {
	background-image: url(../img/elements/bannernectar_7.png);
	background-repeat: no-repeat;
	display: block;
	height: 110px;
    width: 200px;
    position: absolute;
    right: 320px;
    top: 380px;
    opacity: 0;
}

ul.slideshow .nectar_frutamango {
	background-image: url(../img/elements/bannernectar_9.png);
	background-repeat: no-repeat;
	display: block;
	height: 129px;
    width: 105px;
    position: absolute;
    right: 110px;
    top: 330px;    
    opacity: 0;
}

/* nectar elementos */

ul.slideshow .bebida_back {
	background-image: url(../img/elements/bannerbebida_1.jpg);
	background-repeat: no-repeat;
	background-color: #f9f2de;
}

ul.slideshow .bebida_texto {
	background-image: url(../img/elements/bannerbebida_2.png);
	background-repeat: no-repeat;
	display: block;
	height: 177px;
    width: 430px;
    position: absolute;
    top:70px;
    opacity: 0;
    left: 0px;
}

ul.slideshow .bebida_flotan {
	background-image: url(../img/elements/bannerbebida_3.png);
	background-repeat: no-repeat;
	display: block;
	height: 355px;
    width: 889px;
    position: absolute;
    top:0px;
    left: -50px;
    opacity: 0;
}

ul.slideshow .bebida_lata1 {
	background-image: url(../img/elements/bannerbebida_4.png);
	background-repeat: no-repeat;
	display: block;
	height: 398px;
    width: 200px;
    position: absolute;
    top:40px;
    right: 260px;
    opacity: 0;
}

ul.slideshow .bebida_lata2 {
	background-image: url(../img/elements/bannerbebida_5.png);
	background-repeat: no-repeat;
	display: block;
	height: 367px;
    width: 156px;
    position: absolute;
	right: 180px;
    top: 60px;
    opacity: 0;
}



/*slideshow nav */
#slideshow-nav {
    position: absolute;
    right: 0;
    top:470px;
    width: 120px;
    z-index: 10000;
}

#slideshow-nav .nav-item {
    float: left;
    width: 13px;
    margin: 0px 5px;
    outline: none;
}

#slideshow-nav .selected {
	background-position: -23px top !important;
	cursor: default;
}

#slideshow-nav .nav-item-dot {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../img/elements/slideshow_nav.png);
    background-repeat: no-repeat;
    background-position: top left;
}

#slideshow-nav .nav-item-dot:hover {
	background-position:  -23px top !important;
}



/* Generales productos
---------------------------------------*/

#product, #back {
	opacity: 0;
}


/*Detalle 2 - Salud
---------------------------------------*/

#detalle_2, #detalle_3 , #contacto {
	padding-top: 40px;
}

#detalle_2  {
	background-color: #fff;
	min-height: 1090px;
}

#detalle_2 .col_IZ{
	width: 434px;
	float: left;
	padding-left:30px;
	padding-right:42px;
}

#detalle_2 .col_DE{
	float:right;
	width: 439px;
	background-image: url(../img/elements/salud_back_02.png);
	background-repeat: no-repeat;
	background-position: 0 140px;
	padding-top: 30px;
	padding-right: 25px;
}

#detalle_2 h1 {
	margin-bottom: 15px;
	font-size: 30px;
}

#detalle_2 h2 {
	margin-bottom: 10px;
	font-size: 24px;
	margin-top: 10px;
}

#detalle_2 .featured p {
	font-size: 18px;
	line-height: 24px;
	color: #4a671c;
	font-family: 'ScalaSansBold';
	margin-top: 10px;
}

#detalle_2 h4 {
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 24px;
	margin-top: 10px;
	color: #b43a5e;
	width: 240px;
}

#detalle_2 .big {
	font-size: 60px;
	float: left;
	padding-top: 12px;
	padding-right: 5px;
} 


#detalle_2 .modulo_img{
	height:263px;
	float: left;
	margin-top: -50px;
}

#detalle_2 p{
	padding-bottom:8px;
}




/*Detalle 1
---------------------------------------*/

#detalle_1{
	position:relative;
	padding-top: 24px;
}

#detalle_1 .col_IZ{
	width: 230px;
	float: left;
	margin-right:40px;
	position:relative;
	margin-bottom: 20px;
}

#detalle_1 .box_nav_2 {
	float: left;
    margin-bottom: 8px;
    padding: 16px 10px 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px; 
    width: 210px;
}

#detalle_1 .box_nav_2 h4 {
	text-transform: uppercase;
	padding-bottom: 6px;
	padding-left: 5px;
	 color: #262626;
}

#detalle_1 .col_DE {
	float: right;
	width: 700px;
}

#detalle_1 .subcol_IZ {
	float: left;
	position: relative;
	margin-right: 16px;
	width: 185px;
}

#detalle_1 .subcol_DE {
	float: right;
	margin-top: 40px;
	width: 500px;
}

#detalle_1 .modulo_texto01 p{
	font-size: 14px;
}

.modulo_info {
	background-image: url(../img/repeat/line_cyan.png);
	background-repeat: repeat-x;
	position: relative;
	float: left;
	text-align: left;
	margin-right: 10px;
	width: 166px;
	clear: left;
	padding-top: 16px;
}

#detalle_1 .modulo_info p {
	font-size: 13px;
	color: #464646;
}

.modulo_datos {
	float: right;
	position: relative;
	width: 320px;
}

.modulo_datos_2 {
	float: right;
	position: relative;
	margin-top: 0px;
	width: 320px;
}

.modulo_ingredientes {
	/*background-color: #eefcf1;*/
    background-color: rgba(231, 254, 236, 0.6);
	border: 1px solid #7ccdc5;
	float:left;
	padding: 20px 16px;
	width: 464px;
	position: relative;
	margin: 20px 0px 60px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
}

.modulo_ingredientes_2 {
	/*background-color: #eefcf1;*/
    background-color: rgba(247, 242, 220, 0.6);
	border: 1px solid #e6c460;
	float:left;
	padding: 20px 16px;
	width: 464px;
	position: relative;
	margin: 20px 0px 60px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
}

.modulo_botella  {
	float:left;
	position:absolute;
	top:80px;
	left:0px;
}

.modulo_botella_2 {
	float:left;
	position:absolute;
	top:20px;
	left:0px;
}

.modulo_botella_3 {
	float:left;
	position:absolute;
	top:10px;
	left:0px;
}

.modulo_botella_bebida  {
	float:left;
	position:absolute;
	top:50px;
	left:0px;
}

.modulo_lata {
	float:left;
	position:absolute;
	top:60px;
	left:0px;
}


/* Contacto
---------------------------------------*/

#detalle_3 h1 {
	font-size: 30px;
}

#detalle_3 h1 span  {
	font-size: 24px;
	font-weight: normal;
}

#detalle_3 .top .col_IZ{
	width: 450px;
	float: left;
	margin-right: 30px;
}

#detalle_3 .top .col_IZ h5 {
	font-size: 14px;
	line-height: 20px;
}

#detalle_3 p .destacado{
	color: #287f7b;
	font-size:18px;
	font-weight:bold;
}
#detalle_3 .top .col_DE{
	width:490px;
	float:right;
}

#detalle_3 .modulo_precio{
	width:452px;
	background-color: #39b6b0;
	border: 3px #287f7b solid;
	padding:10px 15px;
	margin-top: -20px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}

#detalle_3 .modulo_precio ul.list-price li{
	color: #FFFFFF;
	padding:3px 0px;
}

#detalle_3 .modulo_precio h5 {
	color: #fff;
	font-size: 16px;
}

#detalle_3 .modulo_precio li span {
	background-color: #ffffff;
	padding: 0px 8px;
	color: #287f7b;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	margin-left: 5px;
}

#detalle_3 .bottom {
	float:left;
	background-color: #fff;
	width:970px;
	padding: 0px;
	margin:30px 0px 0px;
	padding-bottom: 20px;
}

#detalle_3 .bottom .title{
	color: #562122;
	background-color: #bae8e8;
	border: #85c8c9 1px solid;
	padding: 4px 8px;
	float:left;
	display:block;
	width: 954px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}

#detalle_3 .bottom .title h3 {
	font-size: 22px;
	line-height: 26px;
	color: #287f7b;
}

#detalle_3  .modulos{
	width:940px;
	padding: 0px 15px;
	float:left;
	margin-bottom:30px;
}

#detalle_3 .modulo_producto{
	width:202px;
	padding: 30px 16px 10px;
	position:relative;
	float:left;
	border-right: 1px #85c8c9 dashed;
	min-height: 180px;
}

#detalle_3 .modulo_producto img{
	float:left;
}

#detalle_3 .modulo_producto h5 {
	color: #464646;
	font-size: 13px;
	line-height: 18px;
}

#detalle_3 .modulo_producto p{
	width:135px;
	float:right;
	padding-left:9px;
	color: #133b39;
	font-size: 12px;
}

#detalle_3 .modulo_producto small {
	padding-left: 15px;
}

#detalle_3 .modulo_mix{
	border: 1px solid #85c8c9;
	padding: 25px 30px 20px;
	float:left;
	margin-bottom:40px;
	margin-left: 20px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width:620px; 
}

#detalle_3 .modulo_mix .title {
	width:600px;
	padding: 1px 5px 0px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
}

#detalle_3 .modulo_mix .text {
	float: left;
	padding: 15px 0px;
}

#detalle_3 .modulo_mix .title span {
	font-weight: bold;
}

#detalle_3 .modulo_mix .title h3 {
	font-size: 15px;
}

#detalle_3 .formulario {
	margin-left: 100px;
}

#detalle_3 .title_2 {
	width:930px;
	padding: 3px 10px 2px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	background-color: #fb6c5e;
	float: left;
	 margin: 0 10px;
}

#detalle_3 .title_2 h3{
	font-size: 18px;
	color: #57120b;
}

#detalle_3 .text_info {
	margin-top: 30px;
	float: left;
	margin-left: 30px;
}

#detalle_3 .text_info p {
	color: #414042;
}

#detalle_3 .text_info span {
	color: #084b4b;
	font-size: 14px;
}

#detalle_3 .text_info span.underline{
	text-decoration: underline;
}

#detalle_3 .text_info h4 {
	font-size: 18px;
	color: #414042;
	line-height: 22px;
	margin-bottom: 0px;
	width: 250px;
}

#detalle_3 .text_info h2 {
	font-size: 26px;
	color: #d81d4e;
	margin-left: 50px;
	margin-top: 4px;
}


/* Contacto
---------------------------------------*/
#contacto {
	background-color: #fff;
	min-height: 550px;
}

#contacto h1  {
	font-size: 30px;
	margin-bottom: 10px;
}

#contacto .back{
	width:970px;
	float: left;
	background-image: url(../img/elements/contacto_back.png);
	height: 223px;
	position: relative;
	background-repeat: no-repeat;
}
#contacto .col_IZ{
	width: 400px;
	float: left;
	padding-right:25px;
	padding-left: 30px;
}

#contacto .col_DE{
	width: 320px;
	float: right;
	padding-right:40px;
	margin-top:30px;
}

#contacto .col_DE a{
	color: #FFF;
	font-size:11px;
	margin-right:235px;
}

#Mixs a {
	cursor: pointer;
}

.destacado p{
	font-size:13px;
}


/*tablas nutricionales__________________*/
.tabla_01, .tabla_02, .tabla_03, .tabla_04, .tabla_05, .tabla_06, .tabla_07, .tabla_08, .tabla_09 {
	float: right;
	position: relative;
}

.tabla_09{
	width: 190px;
	height:336px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -525px -650px;
}

.preload {
	background-image: url(../img/elements/ajax-loader.gif);
	display: block;
	width: 32px;
	height: 32px;
	text-align: center;
	margin: 250px auto 0px;
}

/*EXPLORER__________________*/

.lt-ie8 #index .description .text {
	float: none;
}

.lt-ie8 nav #nav-primary{
	z-index: 999999;
	float:left;
}

.lt-ie8 #master-header {
	z-index: 3;
}

.lt-ie8 #index .column {
	float: left;
	width: 280px;
}

.lt-ie8 #nav_2 li {
	width:180px;
}

.lt-ie8 #detalle_1 .col_DE {
	padding-bottom: 50px;
}

.lt-ie8 .modulo_ingredientes, .lt-ie9 .modulo_ingredientes,
.lt-ie8 .modulo_ingredientes_2, .lt-ie9 .modulo_ingredientes_2  {
	background-image: url(../img/repeat/modulo_back.png);
	background-repeat: repeat;
}

.lt-ie9  #index .products  #nectar .img_hover, .ie9  #index .products  #nectar .img_hover  {
	background-position: -300px top;
}

.lt-ie9  #index .products  #te .img_hover, .ie9  #index .products  #te .img_hover  {
	background-position: -304px top;
}
 
.lt-ie8 .col_DE h1 {
	height: 20px;
	padding: 5px 0px;
}

.lt-ie8 .col_DE h6 {
	padding: 5px 0px;
}

.lt-ie8 .col_DE .titulo_teblanco h2 {
	width: 300px;
}

.lt-ie8 .col_DE .titulo_tefram h6, .lt-ie8 .titulo_nectarmango h5, .lt-ie8 .titulo_sandia  h5{
	width: 270px;
}

.lt-ie8 .big {
	padding: 15px 0px;
}

.lt-ie8 .titulo_tefram h5, .lt-ie8 .titulo_tebebida h5  {
	width: 100px;
}

.lt-ie8 #nav-primary li.title {
	width: 140px;
}

