#index  {
	width: 100%;
}

#index .banner{
	height:506px;
	float:left;
	border-bottom: 1px #dfdfdf solid;
}

#index .top {
	float: left;
}

#index .bottom {
	padding-top:25px;
	float:left;
}


#index .description {
	background-image: url(../img/elements/back_description.png);
	background-repeat: no-repeat;
	margin-top: 30px;
	float: left;
	padding:10px 10px 10px;
}

#index .description .line {
	background-image: url(../img/repeat/line.png);
	background-repeat: repeat-x;
	display: block;
	height: 6px;
	width: 950px;
	float: left;
	padding:10px 0px 10px;
}

#index .description .logo {
	background: url("../img/CSS_sprite.png") no-repeat scroll -325px -50px transparent;
	display: block;
	float: left;
	height: 46px;
	margin-right: 20px;
	margin-top: -15px;
	width: 182px;
}

#index .description .text {
	float: left;
	clear: left;
	margin: 10px;
}


#index .description  h1{
	padding-top:10px;
	color:#b43a5e;
	text-align:left;
	font-size: 26px;
	font-family: 'ScalaSansBold';
	
}

#index .description .three h1{
	font-family: 'ScalaSansRegular';
	font-size: 24px;
	margin-bottom: 4px;
}

#index .description  h2{
	font-family: 'ScalaSansRegular';
	text-align:left;
	color: #555555;
	font-size: 20px;
}

#index .products {
	padding-bottom: 40px;
	float: left;
}

#index .products .title {
	width: 970px;
	position: relative;
	float: left;
	padding-left: 37%;
	margin-bottom: 20px;
}

#index .products .title h3 {
	text-align: center;
	float: left;
}

#index .column {
	width: 294px;
	float: left;
}

#index .list-products {
	display: none;
}

#index .te, #index .nectar {
	margin-right: 42px;
}

#index .te a:hover h3, #index .nectar a:hover h3, #index .rx a:hover h3{
	text-decoration: none;
}

#index .column .subtitle h3 {
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 10px;
}

#index .te .subtitle h3 {
	color: #02322d;
}

#index .nectar .subtitle h3 {
	color: #67510b;
}

#index .rx .subtitle h3 {
	color: #355a0a;
}





/*Detalle 2 - Salud
---------------------------------------*/

#detalle_1, #detalle_2, #detalle_3 , #contacto {
	padding-top: 40px;
}

#detalle_2  {
	background-color: #fff;
	min-height: 1140px;
}

#detalle_2 .col_IZ{
	width: 439px;
	float: left;
	padding-left:25px;
	padding-right:42px;
	
}

#detalle_2 .col_DE{
	float:right;
	width: 439px;
	background-image: url(../img/elements/salud_back_02.png);
	background-repeat: no-repeat;
	background-position: 0 140px;
	padding-top: 30px;
	padding-right: 25px;
}

#detalle_2 h1 {
	margin-bottom: 15px;
	font-size: 30px;
}

#detalle_2 h2 {
	margin-bottom: 10px;
	font-size: 24px;
	margin-top: 10px;
}

#detalle_2 .featured p {
	font-size: 18px;
	line-height: 24px;
	color: #4a671c;
	font-family: 'ScalaSansBold';
	margin-top: 10px;
}

#detalle_2 h4 {
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 24px;
	margin-top: 10px;
	color: #b43a5e;
	width: 240px;
}

#detalle_2 .big {
	font-size: 60px;
	float: left;
	padding-top: 12px;
	padding-right: 5px;
} 


#detalle_2 .modulo_img{
	height:263px;
	float: left;
	margin-top: -50px;
}

#detalle_2 p{
	padding-bottom:8px;
}




/*Detalle 1
---------------------------------------*/

#detalle_1{
	position:relative;
}

#detalle_1 .col_DE {
	width: 280px;
	position: absolute;
	top: 20px;
	right: 10px;
}


#detalle_1 .col_IZ{
	width: 540px;
	float: left;
	padding-left:30px;
	z-index:2;
	position:relative;
}

#detalle_1 .col_IZ .modulo_texto01 {
	padding-top:75px;
	padding-left:190px;
	width:145px;
	height:200px;
	text-align:right;
	position:relative;
	z-index:3;
}

#detalle_1 .col_IZ .modulo_texto02 {
	padding-top:90px;
	padding-left:130px;
	width:145px;
	height:200px;
	text-align:right;
	position:relative;
	z-index:3;
}

#detalle_1 .col_IZ .modulo_texto03 {
	padding-top:20px;
	padding-left:190px;
	width:145px;
	height:200px;
	text-align:right;
	position:relative;
	z-index:3;
}

#detalle_1 .col_IZ .modulo_texto01 p, #detalle_1 .col_IZ .modulo_texto02 p, .col_IZ .modulo_texto03 p {
	color:#FFF;
	padding-bottom:5px;
}

#detalle_1 .col_IZ .modulo_info{
	padding-top:40px;
	width:280px;
	position:relative;
}
.modulo_info {
	position: relative;
	top: 20px;
	float: right;
	text-align: right;
	margin-right: 20px;
}

.modulo_botella  {
	float:right;
	margin-top:0px;
	position:absolute;
	top:10px;
	left:380px;
}

.modulo_botella_bebida  {
	float:right;
	margin-top:0px;
	position:absolute;
	top:10px;
	left:390px;
}

.modulo_info img{
	border-bottom: 1px dotted #333;
	padding-bottom:20px;
}

.modulo_info .cuadro01{
	background:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -775px -650px;
	border-bottom: 1px dotted #333;
	padding-bottom:20px;
	width:275px;
	height:55px;
}

.modulo_info .cuadro02{
	background:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -775px -800px;
	border-bottom: 1px dotted #333;
	padding-bottom:20px;
	width:220px;
	height:55px;
}

.modulo_info .cuadro03{
	background:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -775px -725px;
	border-bottom: 1px dotted #333;
	padding-bottom:20px;
	width:275px;
	height:55px;
}

.modulo_info .cuadro04{
	background:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -775px -875px;
	border-bottom: 1px dotted #333;
	padding-bottom:20px;
	width:275px;
	height:55px;
}



.modulo_ingredientes{
	text-align:left;
	float:left;
	width: 350px;
	z-index: 9;
	position: relative;
}

.modulo_texto01 a, .modulo_texto02 a, .modulo_texto03 a{
	color:#FFFFFF;
	font-size:11px;
}


/* Contacto
---------------------------------------*/

#detalle_3 h1 {
	font-size: 30px;
}

#detalle_3 h1 span  {
	font-size: 24px;
	font-weight: normal;
}

#detalle_3 .top .col_IZ{
	width: 450px;
	float: left;
	margin-right: 30px;
}


#detalle_3 p .destacado{
	color: #287f7b;
	font-size:18px;
	font-weight:bold;
}
#detalle_3 .top .col_DE{
	width:490px;
	float:right;
}

#detalle_3 .modulo_precio{
	width:452px;
	background-color: #39b6b0;
	border: 3px #287f7b solid;
	padding:10px 15px;
	margin-top: -20px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}

#detalle_3 .modulo_precio ul.list-price li{
	color: #FFFFFF;
	padding:3px 0px;
}

#detalle_3 .modulo_precio h6 {
	color: #fff;
	font-size: 16px;
}

#detalle_3 .modulo_precio li span {
	background-color: #ffffff;
	padding: 0px 8px;
	color: #287f7b;
}

#detalle_3 .bottom {
	float:left;
	background-color: #fff;
	width:970px;
	padding: 0px;
	margin:30px 0px 0px;
	padding-bottom: 20px;
}

#detalle_3 .bottom .title{
	color: #562122;
	background-color: #bae8e8;
	border: #85c8c9 1px solid;
	padding: 4px 8px;
	float:left;
	display:block;
	width: 954px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}

#detalle_3 .bottom .title h3 {
	font-size: 22px;
	line-height: 26px;
	color: #287f7b;
}

#detalle_3  .modulos{
	width:940px;
	padding: 0px 15px;
	float:left;
	margin-bottom:30px;
}

#detalle_3 .modulo_producto{
	width:202px;
	padding: 30px 16px 10px;
	position:relative;
	float:left;
	border-right: 1px #85c8c9 dashed;
	min-height: 180px;
}

#detalle_3 .modulo_producto img{
	float:left;
}

#detalle_3 .modulo_producto h5 {
	color: #464646;
	font-size: 13px;
	line-height: 18px;
}

#detalle_3 .modulo_producto p{
	width:135px;
	float:right;
	padding-left:9px;
	color: #133b39;
	font-size: 12px;
}

#detalle_3 .modulo_producto small {
	padding-left: 15px;
}

#detalle_3 .modulo_mix{
	border: 1px solid #85c8c9;
	padding: 25px 30px 20px;
	float:left;
	margin-bottom:40px;
	margin-left: 20px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width:620px; 
}

#detalle_3 .modulo_mix .title {
	width:600px;
	padding: 1px 5px 0px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
}

#detalle_3 .modulo_mix .text {
	float: left;
	padding: 15px 0px;
}

#detalle_3 .modulo_mix .title span {
	font-weight: bold;
}

#detalle_3 .modulo_mix .title h3 {
	font-size: 15px;
}

#detalle_3 .formulario {
	margin-left: 100px;
}

#detalle_3 .title_2 {
	width:930px;
	padding: 3px 10px 2px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	background-color: #fb6c5e;
	float: left;
	 margin: 0 10px;
}

#detalle_3 .title_2 h3{
	font-size: 18px;
	color: #57120b;
}

#detalle_3 .text_info {
	margin-top: 30px;
	float: left;
}

#detalle_3 .text_info p {
	color: #414042;
}

#detalle_3 .text_info span {
	color: #084b4b;
	font-size: 14px;
}

#detalle_3 .text_info span.underline{
	text-decoration: underline;
}

#detalle_3 .text_info h4 {
	font-size: 18px;
	color: #414042;
	line-height: 22px;
	margin-bottom: 0px;
	width: 250px;
}

#detalle_3 .text_info h2 {
	font-size: 26px;
	color: #d81d4e;
	margin-left: 50px;
	margin-top: 4px;
}


/* Contacto
---------------------------------------*/
#contacto {
	background-color: #fff;
	min-height: 550px;
}

#contacto .back{
	width:970px;
	float: left;
	background-image: url(../img/elements/contacto_back.png);
	height: 223px;
	position: relative;
	background-repeat: no-repeat;
}
#contacto .col_IZ{
	width: 400px;
	float: left;
	padding-right:25px;
	padding-left: 25px;
}

#contacto .col_DE{
	width: 320px;
	float: right;
	padding-right:40px;
	margin-top:30px;
}

#contacto .col_DE a{
	color: #FFF;
	font-size:11px;
	margin-right:235px;
}

#Mixs a {
	cursor: pointer;
}


/*tablas nutricionales__________________*/
.tabla_01, .tabla_02, .tabla_03, .tabla_04, .tabla_05, .tabla_06, .tabla_07, .tabla_08, .tabla_09 {
	top: 10px;
	right: 25px;
	float: right;
	position: relative;
}
.tabla_01{
	width: 190px;
	height:238px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -75px -300px;
}

.tabla_02{
	width: 190px;
	height:336px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -275px -300px;
}

.tabla_03{
	width: 190px;
	height:336px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -475px -300px;
}

.tabla_04{
	width: 190px;
	height:238px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -675px -300px;
}

.tabla_05{
	width: 190px;
	height:238px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -875px -300px;
}

.tabla_06{
	width: 190px;
	height:238px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -1075px -300px;
}

.tabla_07{
	width: 190px;
	height:238px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -75px -650px;
}

.tabla_08{
	width: 190px;
	height:238px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -300px -650px;
}

.tabla_09{
	width: 190px;
	height:336px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -525px -650px;
}

.destacado p{
	font-size:13px;
}

.titulo_teverde{
	width: 229px;
	height:61px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -75px -1225px;
}

.titulo_tegranada{
	width: 250px;
	height:130px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -75px -1300px;
}

.titulo_teblanco{
	width: 250px;
	height:125px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -75px -1450px;
}


.titulo_tediet{
	width: 250px;
	height:100px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -325px -1225px;
}

.titulo_tearandano{
	width: 270px;
	height:100px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -325px -1350px;
}

.titulo_temanzana{
	width: 270px;
	height:100px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -325px -1450px;
}

.titulo_tefram {
	width: 281px;
	height:80px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -600px -1225px;
}

.titulo_telimon{
	width: 281px;
	height:80px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -600px -1350px;
}

.titulo_tebebida{
	width: 281px;
	height:80px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -600px -1475px;
}

.titulo_salud{
	width: 318px;
	height:78px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -925px -1225px;
	margin-left:18px;
}

.titulo_pedido{
	width: 218px;
	height:33px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -925px -1325px;
}

.titulo_contacto{
	width: 299px;
	height:30px;
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position:  -925px -1375px;
}