.list_galerias {
	background-color: #252525;
	float: left;
	height: 470px;
	width: 230px;
}
.list_galerias h1{
	color: #FFFFFF;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.gallery_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	margin-left: 25px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.gallery_title a{
	color: #FFFFFF;
	text-decoration: none;
}
.gallery_title a:hover{
	color: #FF3300;
	text-decoration: underline;
}

.content_gallery{
	float: right;
	width: 500px;
	margin-top: 20px;
	margin-right: 20px;
}