span.deco_cyan {
	background-image: url(../img/elements/title_deco.png);
	display: block;
	float: left;
	height: 13px;
	width: 38px;
	margin: 5px 5px 0px;
}


.mar-top-10 {
	margin-top: 10px;
}

.mar-bottom-10 {
	margin-bottom: 10px;
}

.mar-bottom-20 {
	margin-bottom: 20px;
}

.mar-bottom-28 {
	margin-bottom: 28px;
}


/* COLORES
-------------------------------------------------------------- */

.black{	color: #000000;}
.green{	color: #006a2d;}
.yellow {	color: #da8d2e;}
.gray_333 {	color: #333333;}
.gray_555 {	color: #555555;}
.gray_777 {	color: #777777;}
.gray_999 {	color: #999999;}
.cyan_1 { color: #34a8a3;}
.cyan_2 {color: #0da189;}
.magenta_1 {color: #911a3d;}
.magenta_2 {color: #70243a;}






