
a#logo {
	background-image: url(/img/CSS_sprite.png);
	background-position: -100px -50px;
	background-repeat: no-repeat;
	display: block;
	width: 194px;
	height: 50px;
	text-indent: -999em;
	position: absolute;
	z-index: 2;
	left: 25px;
	top: 43px;
}

a#logo_mini_red {
	float: left;
	background-image: url(../img/CSS_sprite.png);
	background-repeat: no-repeat;
	display: block;
	height: 25px;
	width: 102px;
	text-indent: -999em;
	background-position: -325px -50px;
	position: absolute;
	z-index: 2;
	right: 0px;
	margin-bottom: 10px;
	bottom: 0px;
}

.logo_small {
	float: left;
	background-image: url(../img/CSS_sprite.png);
	background-repeat: no-repeat;
	display: block;
	height: 35px;
	width: 143px;
	text-indent: -999em;
	background-position: -575px -50px;
	margin-bottom: 20px;

}

#banner {
	float: left;
	z-index: 1;
}

#mini_menu {
	background: url("../img/CSS_sprite.png") no-repeat scroll -125px -125px transparent;
	position: absolute;
	top: -5px;
	margin: 0px;
	right: 0px;
	z-index: 2;
	width: 155px;
	height: 60px;
}

#mini_menu li{
	list-style-type: none;
	float: left;
}
#mini_menu li a{
	float: left;
	list-style-type: none;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	font-family: 'ScalaSansRegular';
	margin-top: 4px;
}

#mini_menu li a.comprar { 
	background:url(../img/CSS_sprite.png);
	background-position:-75px -220px;
	 height: 10px;
	padding: 10px 0px 10px 26px;
	display: block;
	margin-left: 15px;
	width: 10px;
}

#mini_menu li a:hover{
	text-decoration: underline;
}

#mini_menu li a.icon {
	margin-left: 10px;
    margin-right: 0;
    margin-top: 7px;
	background:url(../img/CSS_sprite.png);
	background-position:-75px -175px;
	background-repeat:no-repeat;
	width:26px;
	height:26px;
	display: block;
}

#back_menu {
	background: url("../img/CSS_sprite.png") no-repeat scroll -650px -125px transparent;
    display: block;
    height: 40px;
    width: 321px;
    position: absolute;
    top: 50px;
    left: 343px;
}

#nav-primary {
	position: absolute;
	top: 60px;
	margin: 0px;
	left: 260px;
	z-index: 2;
}

#nav-primary li{
	list-style-type: none;
	float: left;
	margin-top:3px;
	position: relative;
}

#nav-primary li a{
	display: block;
	padding:0px 15px;
	font-size: 14px;
	line-height: 19px;
	text-decoration: none;
	position: relative;
	font-family: 'ScalaSansRegular', Arial;
	color: #fff;
	text-transform: uppercase;
}

#nav-primary li a.inicio {
	padding-right: 30px;
}

#nav-primary li a.salud {
	padding-left: 30px;
}

header #nav-primary li a.nectar  {
	 background-position: 68px center;	 
}

#nav-primary li a.te, #nav-primary li a.nectar {
	background-image: url(../img/elements/bullet_down.png);
	background-repeat: no-repeat;
	background-position: 96px center;
	border-right: 1px #c3617e solid;
	padding-right: 22px;
}

#nav-primary li a:hover {
	text-decoration: underline;
}

#nav-primary li a._ON {
	color:#f77e95;
}

#nav-primary ul.subnav {
	background-color: #ae2d45;
    border-radius: 0 0 6px 6px;
    left: -4px;
    list-style: none outside none;
    position: absolute;
    top: 18px;
    padding: 20px 0px 10px;
    z-index: 90000;
   -webkit-box-shadow:  2px 3px 2px -2px rgba(0, 0, 0, 0.3);
    box-shadow:  2px 3px 2px -2px rgba(0, 0, 0, 0.3); 
    display: none;    
}

#nav-primary ul.subnav li {
	background-image: none;
    color: #f7aab9;
    display: block;
    float: none;
    font-size: 13px;
    padding: 1px 10px 1px;
    text-shadow: none;
    font-family: Lucida Grande, Helvetica;
    margin: 0px 8px;
     padding-bottom: 10px;
     z-index: 90000;
     position: relative;
}

#nav-primary ul.subnav li.title {
	border-bottom: 1px dotted #D57692;
	text-transform: uppercase;
	font-family: 'ScalaSansRegular';
	font-size: 13px;
	margin-top: 8px;
    padding: 2px 16px;
    margin-bottom: 4px;
}

#nav-primary ul.subnav li a {
    background-image: none;
    border-right: medium none;
    width: 160px;
    font-size: 13px;
    font-weight: lighter;
    text-transform: none;
    font-weight: normal;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'LucidaSansStdRegular', sans-serif;
    padding: 2px 8px;
    -webkit-border-radius: 4px;
    border-radius: 4px; 
}

#nav-primary ul.subnav li a:hover {
	background-color: #D57692;
	text-decoration: none;
}


#nav_2 {
	background-color: #fff;
	float:left;
	padding:10px 10px;
	-webkit-border-radius: 4px;
    border-radius: 4px;
    width: 190px; 
}

#nav_2 li{
	clear: left;
	list-style-position: inside;
	float: left;
	font-size: 13px;
	color: #464646;
	padding: 4px 0px 2px;
}

#nav_2 li a{
	float: left;
	list-style-type: none;
	color: #702a2c;
	text-decoration: none;
	font-size: 12px;
	line-height: 14px;
	color: #464646;
	background-repeat: no-repeat;
	 background-position: 0 0px;
	 padding-left: 10px;
}

.nav_te #nav_2 li a:hover,  .nav_te #nav_2 li a.ON {
	color: #0da596;
}

.nav_nectar #nav_2 li a:hover, .nav_nectar #nav_2 li a.ON {
	color: #fdc965;
}

.nav_rx #nav_2 li a:hover, .nav_rx #nav_2 li a.ON {
	color: #fb915b;
}

.nav_te #nav_2 li a{ 
	background-image: url("/img/elements/bullet_cyan.png");

}

.nav_nectar #nav_2 li a{ 
	background-image: url("/img/elements/bullet_yellow.png");
}

.nav_rx #nav_2 li a{ 
	background-image:url("/img/elements/bullet_orange.png");
}

