/* Add these to a box to padding right. */
.pad-right-4     { padding-right: 4px; }
.pad-right-5    { padding-right: 5px; }
.pad-right-6    { padding-right: 6px; }
.pad-right-8    { padding-right: 8px; }
.pad-right-10   { padding-right: 10px; }
.pad-right-12   { padding-right: 12px; }
.pad-right-14   { padding-right: 14px; }
.pad-right-16   { padding-right: 16px; }
.pad-right-18   { padding-right: 18px; }
.pad-right-20   { padding-right: 20px; }
.pad-right-40   { padding-right: 40px; }  
.pad-right-80   { padding-right: 80px; } 
.pad-right-120  { padding-right: 120px; } 
.pad-right-160  { padding-right: 160px; } 
.pad-right-200  { padding-right: 200px; } 


/* Add these to a box to padding left. */
.pad-left-4    { padding-left: 4px; }
.pad-left-5    { padding-left: 5px; }
.pad-left-6    { padding-left: 6px; }
.pad-left-8    { padding-left: 8px; }
.pad-left-10   { padding-left: 10px; }
.pad-left-12   { padding-left: 12px; }
.pad-left-14   { padding-left: 14px; }
.pad-left-16   { padding-left: 16px; }
.pad-left-18   { padding-left: 18px; }
.pad-left-20   { padding-left: 20px; }
.pad-left-36   { padding-left: 36px; }
.pad-left-40   { padding-left: 40px; }  
.pad-left-80   { padding-left: 80px; } 
.pad-left-120  { padding-left: 120px; } 
.pad-left-160  { padding-left: 160px; } 
.pad-left-200  { padding-left: 200px; } 
 
 /* Add these to a box to padding top. */
.pad-top-20   { padding-top: 20px;}
.pad-top-0   { padding-top: 0px;}

 /* Add these to a box to padding down. */
.pad-down-4    { padding-bottom: 4px; }
.pad-down-5    { padding-bottom: 5px; }
.pad-down-10   { padding-bottom: 10px; }
.pad-down-20   { padding-bottom: 20px;}

/* Add these to a box to margin left. */
.mar-left-5    {margin-left: 5px;}
.mar-left-20    {margin-left: 20px;}
.mar-left-28    {margin-left: 28px;}
.mar-left-60   {margin-left: 60px;}
.mar-left-80   {margin-left: 80px;}


 /* Add these to a box to margin right. */
.mar-right-5    {margin-right: 5px;}
.mar-right-8    {margin-right: 8px;}
.mar-right-10   {margin-right: 10px;}
.mar-right-13   {margin-right: 13px;}
.mar-right-14   {margin-right: 14px;}
.mar-right-15   {margin-right: 15px;}
.mar-right-20   {margin-right: 20px;}
.mar-right-22   {margin-right: 22px;}
.mar-right-25   {margin-right: 25px;}
.mar-right-26   {margin-right: 26px;}
.mar-right-30   {margin-right: 30px;}
.mar-right-33   {margin-right: 33px;}
.mar-right-50   {margin-right: 50px;}

 /* Add these to a box to margin down. */
.mar-down-5     {margin-bottom: 5px;}
.mar-down-7     {margin-bottom: 7px;}
.mar-down-10    {margin-bottom: 10px;}
.mar-down-15    {margin-bottom: 15px;}
.mar-down-20    {margin-bottom: 20px;}
.mar-down-30    {margin-bottom: 30px;}

 /* Add these to a box to margin top. */
.mar-top-3     {margin-top: 3px;}
.mar-top-4     {margin-top: 4px;}
.mar-top-5     {margin-top: 5px;}
.mar-top-10    {margin-top: 10px;}
.mar-top-20    {margin-top: 20px;}
.mar-top-25    {margin-top: 25px;}
.mar-top-30    {margin-top: 30px;}
.mar-top-40    {margin-top: 40px;}

.mar-top-m2     {margin-top: -2px;}

.left-390 {left:390px}
 
.F-left {float: left;}
.F-right {float: right;}
.center {
	margin-right: auto;
	margin-left: auto;
}
