/*
ZET Arts&Facts
Versión 1.0
Date: 9 - Enero - 2009
*/

/*This are the basics style sheet. We use it in all sites */
/*@import "print.css";*/

/*
Style Sheet
This Style contains all the css imports and the basics id-class to manage all the site css
*/
html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'LucidaSansStdRegular', sans-serif;
	background-position: top;
	font-size: 11px;
	line-height: 16px;
	background-color: #f8f8f8;
}

header#master-header {
	background-color: #c33b63;
	background-image: url(../img/repeat/header_img.png);
	background-repeat: repeat-x;
	background-position: top;
	border-bottom: 1px solid #d57692;
	border-top: 6px #3bbdb7 solid;
	height: 112px;
	float: left;
	position: relative;
	width: 100%;
}

.wrapper-a {
	margin-left:auto;
	margin-right: auto;
	width: 970px;
	position: relative;
}


#content {
	width: 100%;
	position: relative;
	float: left;
	border-top: 2px solid #c33b63;
}

footer {
	float: left;
	width: 100%;
	position: relative;
	background-color: #34a8a3;
	padding: 20px 0px;
}

footer .wrapper-a {
	line-height: 14px;
	margin-left:auto;
	margin-right: auto;
	width: 970px;
	position: relative;
}

footer a.zet{
	background-image:url(../img/CSS_sprite.png);
	background-repeat:no-repeat;
	background-position: -100px -250px;
	width:40px;
	height:25px;
	float:right;
	margin-top:5px;
}

footer h4 {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'LucidaSansStdRegular', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 19px;
	font-weight: normal;
}

footer p {
	color: #FFFFFF;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'LucidaSansStdRegular', sans-serif;
	font-size: 12px;
	line-height: 17px;
}

footer ul {
	z-index: 2;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 550px;
}

footer ul li {
	float: left;
	list-style-type: none;
}

footer ul li a {
	color: #e1dfdf;
	padding-top: 2px;
	padding-right: 7px;
	padding-bottom: 2px;
	padding-left: 7px;
}

footer ul li a:hover {
	text-decoration: underline;
}



