/* Headings
-------------------------------------------------------------- */

@font-face {
    font-family: 'ScalaSansBold';
    src: url('../fonts/scalasans-bold.eot');
    src: url('../fonts/scalasans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scalasans-bold.woff') format('woff'),
         url('../fonts/scalasans-bold.ttf') format('truetype'),
         url('../fonts/scalasans-bold.svg#ScalaSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ScalaSansRegular';
    src: url('../fonts/scalasans-regular.eot');
    src: url('../fonts/scalasans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scalasans-regular.woff') format('woff'),
         url('../fonts/scalasans-regular.ttf') format('truetype'),
         url('../fonts/scalasans-regular.svg#ScalaSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LucidaSansStdRegular';
    src: url('../fonts/lucidasansstd.eot');
    src: url('../fonts/lucidasansstd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucidasansstd.woff') format('woff'),
         url('../fonts/lucidasansstd.ttf') format('truetype'),
         url('../fonts/lucidasansstd.svg#LucidaSansStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LucidaSansStdItalic';
    src: url('../fonts/lucidasansstd-italic.eot');
    src: url('../fonts/lucidasansstd-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucidasansstd-italic.woff') format('woff'),
         url('../fonts/lucidasansstd-italic.ttf') format('truetype'),
         url('../fonts/lucidasansstd-italic.svg#LucidaSansStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Headings
-------------------------------------------------------------- */

h1 {
	font-family: 'ScalaSansBold', Helvetica;
	font-size: 20px;
	line-height: 22px;
	color: #3bbdb7;
}

h2 {
	font-family: 'ScalaSansRegular', Helvetica;
	font-size: 18px;
	line-height: 24px;
	color: #287f7b;
	white-space: normal;
}
 
h3 {
	font-family: 'ScalaSansRegular', Helvetica;
	font-size: 16px;
	line-height: 24px;
	color: #464646;
}

h4 {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'LucidaSansStdRegular', sans-serif;
	color: #464646;
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 5px;
}

h5 {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'LucidaSansStdRegular', sans-serif;
}

h6 {
  font-family: 'LucidaSansStdItalic', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}


h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

small {
	font-size: 11px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'LucidaSansStdRegular', sans-serif;
}


/* Text elements
-------------------------------------------------------------- */

p, .p, li {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'LucidaSansStdRegular', sans-serif;
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
	color: #252525;
}

p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }
.edit_text {
	margin-bottom: 10px;
}

.once_px{
	font-size: 11px;
	line-height: 17px;
}

.fecha {
	font-style: italic;
}

.te .list-products li {
	list-style-image: url(../img/elements/bullet_cyan.png);
}

.nectar .list-products li {
	list-style-image: url(../img/elements/bullet_yellow.png);
}

.rx .list-products li {
	list-style-image: url(../img/elements/bullet_green.png);
}

.sparkling .list-products li {
	list-style-image: url(../img/elements/bullet_magenta.png);
}

.list-products li {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'LucidaSansStdRegular', sans-serif;
	list-style: inside;
}

.list-products li a {
	color: #464646;
}

.list-tips li {
	background-color: #fff;
	border: 1px solid #3a8966;
	color: #1b392b;
	padding: 10px 0px 10px;
	list-style: none;
	width: 312px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 12px;
}

.list-tips span {
	font-size: 30px;
	color: #b43a5e;
	font-weight: bold;
	padding:8px 6px 35px;
	float: left;
}

.list-tips .item-2, .list-tips .item-4, .list-tips .item-6, .list-tips .item-8 {
	margin-left: 120px;
}

/* various
-------------------------------------------------------------- */

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }
ol          { list-style-type: decimal; }


dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 0.5em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 2px 2px 4px; font-family: Tahoma; font-size: 10px; color: #000;}
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
.line_through	{	text-decoration: line-through;}



/* Links
-------------------------------------------------------------- */

a  {
	text-decoration: none;
	font-size: 13px;
	line-height: 17px;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', 'LucidaSansStdRegular', sans-serif;
	color: #c33b63;
}
 
a:hover {
	text-decoration: underline;
}

a:focus, a:visited {
	
}


#detalle_3 input.boton {
	width: 90px;
	padding: 5px 10px;
}

#detalle_3 .modulo_mix input.boton {
	width: 110px;
}

a.btn_pedido, input.boton {
	background-color: #c33b63;
	color: #fff;
	clear: left;
	cursor: pointer;
	float: left;
	margin-bottom: 30px;
	margin-top: 15px;
	padding: 5px 10px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #c84e72; /* Old browsers */
	background: -moz-linear-gradient(top,  #c84e72 50%, #c33b63 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#c84e72), color-stop(50%,#c33b63)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c84e72 50%,#c33b63 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c84e72 50%,#c33b63 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c84e72 50%,#c33b63 50%); /* IE10+ */
	background: linear-gradient(top,  #c84e72 50%,#c33b63 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c84e72', endColorstr='#c33b63',GradientType=0 ); /* IE6-9 */
 
}

a.btn_pedido:hover, input.boton:hover {
	background: #b52f57; /* Old browsers */
	background: -moz-linear-gradient(top,  #b52f57 50%, #a73355 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#b52f57), color-stop(50%,#a73355)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b52f57 50%,#a73355 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b52f57 50%,#a73355 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b52f57 50%,#a73355 50%); /* IE10+ */
	background: linear-gradient(top,  #b52f57 50%,#a73355 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b52f57', endColorstr='#a73355',GradientType=0 ); /* IE6-9 */
	text-decoration: none;

}

